.portfolio__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    margin-bottom: 20px;
}

.portfolio__item label {
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

    .portfolio__item label::after {
        content: "|";
        color: #000000;
        padding-left: 20px;
        font-weight: 400;
    }

.portfolio__item {
    margin-right: 20px;
    list-style-type: none;
    line-height: 0;
}

    .portfolio__item input[type="radio"] {
        display: none;
    }

    .portfolio__item :checked + .portfolio__title {
        font-weight: 600;
    }



.gallery {
    display: flex;
    padding-top: 20px;
}

.gallery__row {
    display: flex;
}

.gallery__image {
    width: 460px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 600px;
    min-height: 300px;
}

    .gallery__image:last-child {
        margin-right: 0;
    }

.view_more__button {
    background-color: #ffffff;
    border: none;
    width: 129px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    float: right;
}