
.gallery {
    display: flex;
    padding-top: 20px;
}

.gallery__row {
    display: flex;
}

.gallery__image {
    width: 460px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 600px;
    min-height: 300px;
}

    .gallery__image:last-child {
        margin-right: 0;
    }
.gallery__image_container{
    position: relative;
}
.view_more__button {
    background-color: #ffffff;
    border: none;
    width: 108px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    float: right;
    padding: 0;
}