
.gallery {
    display: grid;
    grid-template-columns: repeat(3, min(34%, 480px));
    padding-top: 20px;
}

    .gallery .gallery__image:nth-child(3n+3) {
        margin-right: 0;
    }

.gallery__image {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 20px;
    max-height: 600px;
    min-height: 300px;
}


.gallery__image_container {
    position: relative;
}

.gallery__buttons {
    display: flex;
    justify-content: end;
}

.view_more__button {
    background-color: #ffffff;
    border: none;
    width: 108px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
}