.stw__image {
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

    .stw__image img {
        object-fit: cover;
        width: 100%;
        height: 371px;
        padding-left: 20px;
        padding-right: 20px;
    }

.stw__text_container {
    min-height: 210px;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

.stw__text {
    padding: 20px;
}

.row {
    margin: 0;
    flex-wrap: nowrap;
}

    .row .column:last-child {
        padding-right: 0;
    }

.column {
    padding: 0;
    margin-top: 20px;
    margin-right: 20px;
    width: min(17.8vw, 340px);
}
.stw__text p {
    padding-top: 20px
}
@media screen and (max-width: 1420px) {
    .row {
        display: grid;
        grid-template-columns: repeat(2, 51%);
    }

        .row .column:nth-child(even) {
            margin-right: 0;
        }

    .column {
        width: calc(100% - 20px);
    }
    .stw__text_container {
        min-height: 158px;
    }
    .stw__image img {
        height: 500px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .row {
        display: block;
        padding-top: 20px;
    }

        .row .column:first-child {
            margin-top: 0;
        }

    .column {
        width: calc(100%);
        margin-right: 0;
    }

    .stw__image img {
        display: none;
    }

    .stw__text {
        padding-top: 0;
    }
        .stw__text b {
            display: block;
            text-align: center;
            padding-bottom: 17px;
            border-bottom: 1px solid rgb(0, 0, 0);
        }
}
