.video__player {
    width: clamp(1000px, 75vw, 1420px);
    height: clamp(550px, 38.5vw, 780px);
    background-color: #000000;
}

@media screen and (max-width: 1090px) {
    .video__player{
        width: 100%;
        height: 52vw;
    }
}
@media screen and (max-width: 767px) {
    .video__player_container {
        width: 100%;
        height: 52vw;
    }
    .video__player{
        position: absolute;
        left: 0;
        
    }
}
